/**********************************************/
/* GENERAL                                    */
/**********************************************/
body {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 100%/13px;
  color: #4C4B50; }

ul, li {
  list-style: none;
  padding: 0;
  margin: 0; }

.btn-back-to-top {
  color: #54505D;
  margin: auto;
  display: block;
  width: 150px;
  text-align: center;
  font-weight: bold; }

.align-r {
  text-align: right; }

.align-l {
  text-align: left; }

/**********************************************/
/* FONTS                                      */
/**********************************************/
/** Proxima Nova **/
@font-face {
  font-family: 'proxima_nova_altblack';
  src: url("../fonts/proximanova/Mark Simonson - Proxima Nova Alt Black-webfont.eot");
  src: url("../fonts/proximanova/Mark Simonson - Proxima Nova Alt Black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova/Mark Simonson - Proxima Nova Alt Black-webfont.woff2") format("woff2"), url("../fonts/proximanova/Mark Simonson - Proxima Nova Alt Black-webfont.woff") format("woff"), url("../fonts/proximanova/Mark Simonson - Proxima Nova Alt Black-webfont.ttf") format("truetype"), url("../fonts/proximanova/Mark Simonson - Proxima Nova Alt Black-webfont.svg#proxima_nova_altblack") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'proxima_nova_altbold';
  src: url("../fonts/proximanova/Mark Simonson - Proxima Nova Alt Bold-webfont.eot");
  src: url("../fonts/proximanova/Mark Simonson - Proxima Nova Alt Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova/Mark Simonson - Proxima Nova Alt Bold-webfont.woff2") format("woff2"), url("../fonts/proximanova/Mark Simonson - Proxima Nova Alt Bold-webfont.woff") format("woff"), url("../fonts/proximanova/Mark Simonson - Proxima Nova Alt Bold-webfont.ttf") format("truetype"), url("../fonts/proximanova/Mark Simonson - Proxima Nova Alt Bold-webfont.svg#proxima_nova_altbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proximanova/Mark Simonson - Proxima Nova Alt Regular-webfont.eot");
  src: url("../fonts/proximanova/Mark Simonson - Proxima Nova Alt Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova/Mark Simonson - Proxima Nova Alt Regular-webfont.woff2") format("woff2"), url("../fonts/proximanova/Mark Simonson - Proxima Nova Alt Regular-webfont.woff") format("woff"), url("../fonts/proximanova/Mark Simonson - Proxima Nova Alt Regular-webfont.ttf") format("truetype"), url("../fonts/proximanova/Mark Simonson - Proxima Nova Alt Regular-webfont.svg#proxima_nova_altregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'proxima_nova_scosfthin';
  src: url("../fonts/proximanova/Mark Simonson - Proxima Nova ScOsf Thin-webfont.eot");
  src: url("../fonts/proximanova/Mark Simonson - Proxima Nova ScOsf Thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova/Mark Simonson - Proxima Nova ScOsf Thin-webfont.woff2") format("woff2"), url("../fonts/proximanova/Mark Simonson - Proxima Nova ScOsf Thin-webfont.woff") format("woff"), url("../fonts/proximanova/Mark Simonson - Proxima Nova ScOsf Thin-webfont.ttf") format("truetype"), url("../fonts/proximanova/Mark Simonson - Proxima Nova ScOsf Thin-webfont.svg#proxima_nova_scosfthin") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'proxima_nova_ltthin';
  src: url("../fonts/proximanova/Mark Simonson - Proxima Nova Thin-webfont.eot");
  src: url("../fonts/proximanova/Mark Simonson - Proxima Nova Thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova/Mark Simonson - Proxima Nova Thin-webfont.woff2") format("woff2"), url("../fonts/proximanova/Mark Simonson - Proxima Nova Thin-webfont.woff") format("woff"), url("../fonts/proximanova/Mark Simonson - Proxima Nova Thin-webfont.ttf") format("truetype"), url("../fonts/proximanova/Mark Simonson - Proxima Nova Thin-webfont.svg#proxima_nova_ltthin") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'proxima_nova_ltsemibold';
  src: url("../fonts/proximanova/Mark Simonson - Proxima Nova Semibold-webfont.eot");
  src: url("../fonts/proximanova/Mark Simonson - Proxima Nova Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova/Mark Simonson - Proxima Nova Semibold-webfont.woff2") format("woff2"), url("../fonts/proximanova/Mark Simonson - Proxima Nova Semibold-webfont.woff") format("woff"), url("../fonts/proximanova/Mark Simonson - Proxima Nova Semibold-webfont.ttf") format("truetype"), url("../fonts/proximanova/Mark Simonson - Proxima Nova Semibold-webfont.svg#proxima_nova_ltsemibold") format("svg");
  font-weight: normal;
  font-style: normal; }
