/******************************************************/
.main-cont {
  border-top: 1px solid #F2F1F3;
  background-color: #fff;
  padding: 20px;
  position: relative; }

.md-mu {
  padding: 50px 0; }
  .md-mu .hd {
    text-align: center;
    margin-bottom: 20px; }
    .md-mu .hd h2 {
      text-align: center;
      font-size: 15px;
      letter-spacing: 4px; }

/********************************************************/
.md-sidebar-menu li {
  border-bottom: 1px solid #D6D8DE; }
  .md-sidebar-menu li a {
    display: block;
    padding: 12px 0;
    color: #1D1628;
    font-size: 14px; }
    .md-sidebar-menu li a.active {
      padding-left: 15px;
      font-weight: bold;
      background: url("/web/statics/images/ic-arrow-selected.png") no-repeat left center; }

/************************************************************/
.cont-info-page {
  background-color: #fff;
  padding: 25px; }

/************************************************************/
.md-primary-data .hd h2 {
  text-align: center;
  font-size: 15px;
  letter-spacing: 4px; }

.md-big-num {
  text-align: center;
  padding: 40px 0 60px 0; }
  .md-big-num h3 {
    font-size: 58px;
    margin-bottom: 10px;
    font-family: 'proxima_nova_ltthin'; }
  .md-big-num p {
    font-size: 17px; }
  .md-big-num .fas {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    position: relative;
    top: 2px; }
    .md-big-num .fas.fas-follow {
      background: url("/web/statics/images/ic-followers.png") no-repeat center center; }
    .md-big-num .fas.fas-post {
      background: url("/web/statics/images/ic-post.png") no-repeat center center; }
    .md-big-num .fas.fas-likes {
      background: url("/web/statics/images/ic-heart.png") no-repeat center center; }

/***************************************************************/
/* TAB MENU                                                    */
/***************************************************************/
.tab-menu ul {
  text-align: center;
  border-bottom: 1px solid #DCDCDC; }
  .tab-menu ul li {
    display: inline-block; }
    .tab-menu ul li a {
      display: block;
      padding: 15px 25px;
      color: #1D1628;
      font-size: 15px; }
      .tab-menu ul li a.active {
        font-weight: bold; }
      .tab-menu ul li a:hover, .tab-menu ul li a.active {
        background-color: #F5F7F9;
        text-decoration: none; }

.tab-content {
  margin-top: 40px; }

/***************************************************************/
/* POST ITEMS                                                  */
/***************************************************************/
.post-items .best-post {
  text-align: center;
  margin-bottom: 15px; }
  .post-items .best-post h3 {
    margin-bottom: 10px;
    font-size: 16px;
    font-family: "proxima_nova_ltsemibold"; }
  .post-items .best-post p {
    font-size: 12px;
    color: #ccc; }

.post-items .img {
  width: 100%;
  margin-bottom: 15px;
  max-height: 204px;
  border-radius: 10px;
  overflow: hidden; }
  .post-items .img img {
    display: block;
    width: 100%; }

.post-items .data {
  margin-bottom: 20px;
  border-bottom: 1px solid #DCDCDC;
  padding-bottom: 20px; }
  .post-items .data table {
    width: 100%; }
    .post-items .data table tr td {
      font-weight: normal;
      padding: 5px;
      font-size: 13px;
      font-family: "proxima_nova_ltsemibold";
      width: 50%; }
      .post-items .data table tr td + td {
        text-align: right;
        font-family: 'proxima_nova_altbold'; }
    .post-items .data table tr.alt {
      background-color: #F6F7F9; }

.post-items .data-alt table {
  width: 100%; }
  .post-items .data-alt table tr td {
    padding: 5px;
    font-size: 13px;
    font-family: "proxima_nova_ltsemibold";
    width: 20%; }
    .post-items .data-alt table tr td + td {
      width: 80%;
      text-align: right;
      font-family: 'proxima_nova_altbold'; }
  .post-items .data-alt table tr.alt {
    background-color: #F6F7F9; }

.post-items .of-ugc {
  margin-top: 20px;
  border-top: 1px solid #DCDCDC;
  padding-top: 20px; }
  .post-items .of-ugc .influencer {
    display: block;
    margin-bottom: 10px; }
  .post-items .of-ugc h3 {
    display: block;
    margin-bottom: 10px; }
    .post-items .of-ugc h3 a {
      color: #4C4B50;
      font-size: 13px;
      font-family: "proxima_nova_ltsemibold";
      display: block;
      border: 1px solid #DCDCDC;
      padding: 10px 20px;
      text-align: center; }
  .post-items .of-ugc table {
    width: 100%; }
    .post-items .of-ugc table tr td {
      padding: 5px;
      font-size: 13px;
      font-family: "proxima_nova_ltsemibold"; }
      .post-items .of-ugc table tr td + td {
        text-align: right;
        font-family: 'proxima_nova_altbold'; }
    .post-items .of-ugc table tr.alt {
      background-color: #F6F7F9; }

/* GRIDS TABLES */
.table-style tr td {
  padding: 5px !important;
  font-size: 13px;
  font-family: "proxima_nova_ltsemibold";
  width: 40%; }
  .table-style tr td + td {
    width: 60%;
    font-family: 'proxima_nova_altbold'; }

.table-style tr.alt {
  background-color: #F6F7F9; }

/***************************************************************/
/* SEC AVG GROUP                                               */
/***************************************************************/
.sec-container-group {
  margin-left: -25px;
  margin-right: -25px; }

.sec-avg-group,
.sec-user-group,
.sec-most-post {
  padding: 30px; }

.sec-group {
  display: block;
  margin: 0;
  border: 0;
  float: left;
  height: 300px; }
  .sec-group .title {
    display: block;
    text-align: center;
    font-size: 15px;
    font-family: 'Proxima Nova', sans-serif; }
  .sec-group .top {
    padding-bottom: 25px; }
  .sec-group .btm {
    padding: 20px 20px 0 20px;
    border-top: 1px solid #D2DEDE; }
  .sec-group .fot {
    padding-top: 15px; }

.sec-avg-group {
  width: 40%;
  background-color: #E1F0ED; }
  .sec-avg-group .top {
    overflow: hidden; }
    .sec-avg-group .top .f-left {
      text-align: left;
      float: left;
      width: 45%; }
      .sec-avg-group .top .f-left .title {
        text-align: left;
        font-size: 12px;
        line-height: 140%; }
        .sec-avg-group .top .f-left .title i {
          margin-left: 5px; }
    .sec-avg-group .top .f-right {
      text-align: right;
      float: left;
      width: 55%; }
    .sec-avg-group .top .min-max {
      margin-top: 10px; }
      .sec-avg-group .top .min-max p {
        font-weight: bold; }
        .sec-avg-group .top .min-max p span {
          display: inline-block;
          margin: 0 10px; }
  .sec-avg-group .btm {
    padding-top: 0px;
    border-top: 1px solid #D2DEDE;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0; }
    .sec-avg-group .btm .md-block-data {
      text-align: center;
      padding: 40px 0px 20px 0px;
      width: 50%;
      display: block;
      float: left; }
      .sec-avg-group .btm .md-block-data.cols-2 .col-1,
      .sec-avg-group .btm .md-block-data.cols-2 .col-2 {
        width: 50%; }
      .sec-avg-group .btm .md-block-data:first-child {
        border-right: 1px solid #D2DEDE; }
      .sec-avg-group .btm .md-block-data h3 {
        margin-bottom: 30px;
        font-size: 13px; }
      .sec-avg-group .btm .md-block-data .col-1 {
        padding: 0 10px;
        border-right: 1px solid #D2DEDE; }
      .sec-avg-group .btm .md-block-data .col-2 {
        padding: 0 10px; }

.more-info {
  margin: auto;
  text-align: center; }
  .more-info a {
    display: block;
    color: #1D1628; }
  .more-info i {
    font-size: 22px;
    position: relative;
    margin-right: 7px;
    top: 3px; }

.sec-user-group {
  width: 25%;
  background-color: #DDE6ED; }
  .sec-user-group .md-block-data {
    text-align: center; }
    .sec-user-group .md-block-data .title {
      margin-bottom: 15px;
      font-size: 12px; }
    .sec-user-group .md-block-data .xxs-font {
      margin-top: 5px;
      line-height: 140%; }
    .sec-user-group .md-block-data .xs-font.bold {
      margin-bottom: 5px; }

.sec-most-post {
  width: 35%;
  background-color: #F4F6F8; }
  .sec-most-post .md-block-data {
    text-align: center; }
    .sec-most-post .md-block-data p b {
      font-weight: bold; }
  .sec-most-post .title {
    font-size: 12px;
    margin-bottom: 30px; }
  .sec-most-post .btm {
    padding-top: 30px; }

.md-block-data .col-1 {
  display: inline-table; }

.md-block-data .col-2 {
  display: inline-table; }

/******************************************/
/* MORE INFO                              */
/******************************************/
/******************************************/
/* CONTENT ENGAGEMENT                     */
/******************************************/
.md-content-engagement .bd table {
  width: 100%; }
  .md-content-engagement .bd table tr.line td {
    border-bottom: 1px solid #eee; }
  .md-content-engagement .bd table tr.line.last-child td {
    border-bottom: 0; }
  .md-content-engagement .bd table tr th {
    padding: 0 10px; }
    .md-content-engagement .bd table tr th span {
      font-size: 11px;
      color: #ccc; }
  .md-content-engagement .bd table tr td {
    padding: 0 10px; }
    .md-content-engagement .bd table tr td span {
      display: block;
      padding: 16px 0 14px;
      font-size: 18px;
      font-weight: bold; }

.md-content-engagement .bd .name {
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 2px; }

.md-content-engagement .bd .last {
  font-size: 13px;
  font-weight: bold;
  color: #ccc; }

.md-content-engagement .bd .theader th {
  padding-bottom: 10px; }

.md-content-engagement .bd .c-and-e-ft-data .col-md-4 {
  border-right: 1px solid #eee; }
  .md-content-engagement .bd .c-and-e-ft-data .col-md-4.last-col {
    border-right: 0; }

.md-content-engagement .bd .avg-increase-ugc .left-num {
  float: left;
  font-size: 25px;
  padding: 10px 0; }

.md-content-engagement .bd .avg-increase-ugc .right-col {
  float: left;
  margin-left: 10px;
  width: 60%;
  padding: 6px 0; }
  .md-content-engagement .bd .avg-increase-ugc .right-col span {
    font-size: 12px; }

.md-content-engagement .bd .total-likes .left-num {
  float: left;
  font-size: 25px;
  padding: 10px 0; }

.md-content-engagement .bd .total-likes .right-col {
  float: left;
  margin-left: 10px;
  width: 60%;
  padding: 14px 0; }
  .md-content-engagement .bd .total-likes .right-col span {
    font-size: 14px; }

/* COLOR */
.color {
  display: inline-block !important;
  width: 16px !important;
  height: 16px !important;
  padding: 0 !important;
  position: relative;
  top: 3px; }
  .color.video {
    background-color: #E1F0ED; }
  .color.portrait {
    background-color: #DDE6ED; }
  .color.product {
    background-color: #DCCDCD; }
  .color.extra {
    background-color: #D7C0C9; }
  .color.closeup {
    background-color: #C4D6E3; }

/******************************************/
/* USER GENERATED CONTENT                 */
/******************************************/
.c-and-e-ft-data {
  margin-top: 25px; }
  .c-and-e-ft-data h3 {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 14px; }
  .c-and-e-ft-data .bd {
    border: 1px solid #ccc;
    padding: 20px 30px; }
    .c-and-e-ft-data .bd .col-1 {
      overflow: hidden; }
      .c-and-e-ft-data .bd .col-1 span {
        float: left;
        font-size: 45px; }
      .c-and-e-ft-data .bd .col-1 .right-col {
        float: left;
        margin-left: 10px;
        width: 60%; }
        .c-and-e-ft-data .bd .col-1 .right-col span {
          display: block;
          margin-top: 5px;
          margin-bottom: 8px;
          font-size: 14px; }
        .c-and-e-ft-data .bd .col-1 .right-col .progressbar {
          background-color: #eee;
          margin: 0;
          padding: 0;
          height: 10px;
          width: 100%; }
          .c-and-e-ft-data .bd .col-1 .right-col .progressbar .bar {
            margin: 0;
            padding: 0;
            background-color: #D7C0C9;
            height: 10px; }

/******************************************/
/* MD COMPARE BRAND                       */
/******************************************/
/******************************************/
/* MD ENGAGEMENT DAY CATEGORY             */
/******************************************/
.md-engagement-day-category .bd .time-slider {
  text-align: center;
  position: relative;
  top: 20px;
  z-index: 10; }
  .md-engagement-day-category .bd .time-slider span {
    font-size: 13px;
    font-weight: 700; }

.column-chart-component g text {
  font-weight: normal; }

.ico-arrow i {
  display: block;
  width: 13px;
  height: 11px; }

.ico-arrow.ico-up {
  color: #6BBA9B; }
  .ico-arrow.ico-up i {
    background: url("/web/statics/images/ic-arrow-up.png") no-repeat center center; }

.ico-arrow.ico-dw {
  color: #D99F9D; }
  .ico-arrow.ico-dw i {
    background: url("/web/statics/images/ic-arrow-dw.png") no-repeat center center; }

.ico-arrow.ico-nt {
  color: #B0AEBB; }
  .ico-arrow.ico-nt i {
    background: url("/web/statics/images/ic-arrow-nt.png") no-repeat center center; }

/******************************************/
/* MD TAB CONT ENDG                       */
/******************************************/
.md-tab-cont-endg {
  overflow: hidden; }
  .md-tab-cont-endg .body .table-style.first-col {
    margin-top: 41px; }
    .md-tab-cont-endg .body .table-style.first-col tr td {
      font-weight: normal;
      padding: 7px 20px 8px !important; }
  .md-tab-cont-endg .item {
    float: left;
    width: 192px; }
    .md-tab-cont-endg .item.first {
      width: 160px; }
    .md-tab-cont-endg .item .item-container-brands {
      float: left;
      width: 800px;
      overflow-x: scroll; }
    .md-tab-cont-endg .item .head {
      height: 85px;
      max-height: 85px;
      position: relative;
      text-align: center;
      padding: 0 15px; }
      .md-tab-cont-endg .item .head hr {
        margin: 10px 90px; }
      .md-tab-cont-endg .item .head h3 {
        font-family: 'proxima_nova_ltsemibold';
        line-height: 133%;
        padding: 0 15px;
        font-size: 19px;
        margin-bottom: 5px; }
      .md-tab-cont-endg .item .head span {
        font-size: 12px;
        color: #bbb; }
      .md-tab-cont-endg .item .head .close-brand {
        background: url(/web/statics/images/ic-remove.png) no-repeat center center #4f4a58;
        width: 16px;
        height: 16px;
        border-radius: 30px;
        position: absolute;
        top: -5px;
        right: 10px;
        background-size: 16px; }
      .md-tab-cont-endg .item .head .other-info p {
        font-size: 13px;
        font-family: 'proxima_nova_ltsemibold'; }
    .md-tab-cont-endg .item .color {
      margin-right: 10px; }
    .md-tab-cont-endg .item .grafica {
      height: 135px;
      max-height: 135px;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px; }
    .md-tab-cont-endg .item.last .body {
      border-right: 0px; }
    .md-tab-cont-endg .item .body {
      border-right: 1px solid #ddd; }
      .md-tab-cont-endg .item .body table {
        width: 100%; }
        .md-tab-cont-endg .item .body table tr th {
          padding: 0 10px 10px 10px;
          font-size: 11px;
          color: #ccc; }
        .md-tab-cont-endg .item .body table tr td {
          padding: 10px 10px !important; }
