.md-primary-data.md-ugc .cols-2 .col-1,
.md-primary-data.md-ugc .cols-2 .col-2 {
  width: 50%;
  padding: 0 10px; }

.md-primary-data.md-ugc .sec-group {
  height: 150px; }

.md-primary-data.md-ugc .sec-avg-group {
  width: 33.3%;
  text-align: center; }
  .md-primary-data.md-ugc .sec-avg-group .top {
    padding: 0px 0 20px; }
  .md-primary-data.md-ugc .sec-avg-group .btm {
    padding: 20px 0 0px; }
  .md-primary-data.md-ugc .sec-avg-group .big {
    font-size: 26px;
    float: left;
    margin-right: 10px; }
  .md-primary-data.md-ugc .sec-avg-group .text {
    width: 168px;
    text-align: left;
    display: inline-block;
    float: left; }

.md-primary-data.md-ugc .sec-user-group {
  width: 33.3%; }
  .md-primary-data.md-ugc .sec-user-group .top .title {
    margin-bottom: 0px;
    font-weight: bold; }
  .md-primary-data.md-ugc .sec-user-group .btm {
    border-top: 0px;
    padding-top: 5px; }

.md-primary-data.md-ugc .sec-most-post {
  width: 33.3%; }
  .md-primary-data.md-ugc .sec-most-post .top .title {
    margin-bottom: 0px;
    font-weight: bold; }
  .md-primary-data.md-ugc .sec-most-post .btm {
    border-top: 0px;
    padding-top: 5px; }

.md-brand-influencer.md-ugc .influencer-data {
  text-align: center;
  margin-bottom: 15px; }
  .md-brand-influencer.md-ugc .influencer-data h3 {
    font-size: 15px;
    font-weight: 700;
    color: #4C4B50;
    margin-bottom: 10px; }
  .md-brand-influencer.md-ugc .influencer-data p {
    font-size: 12px; }

.md-brand-influencer.md-ugc .post-items .data table tr td {
  font-size: 12px;
  width: 70%; }

.md-influencer-comparsion {
  text-align: left; }
  .md-influencer-comparsion .bd .table-style tr:first-child span {
    padding-left: 15px; }
  .md-influencer-comparsion .bd .table-style tr td {
    width: 18%; }
    .md-influencer-comparsion .bd .table-style tr td span {
      position: relative;
      display: block;
      padding: 5px !important;
      font-size: 13px;
      font-weight: bold; }
      .md-influencer-comparsion .bd .table-style tr td span .ico {
        position: absolute;
        top: 0;
        left: 0; }

.md-influencer-comparsion.partner-comparison .bd .table-style tr td:first-child {
  width: 45%; }
