/******************************************************/
.main-cont{
    border-top: 1px solid #F2F1F3;
    background-color:#fff;
    padding: 20px;
    position: relative;
}

.md-mu{
    padding: 50px 0;
    .hd{
        text-align: center;
        margin-bottom: 20px;
        h2{
            text-align: center;
            font-size: 15px;
            letter-spacing: 4px;
        }
    }
}


/********************************************************/
.md-sidebar-menu{
    li{
        border-bottom: 1px solid #D6D8DE;
        a{
            display: block;
            padding: 12px 0;
            color:#1D1628;
            font-size: 14px;
            &.active{
                padding-left: 15px;
                font-weight: bold;
                background: url("/web/statics/images/ic-arrow-selected.png") no-repeat left center;
            }
        }
    }
}

/************************************************************/
.cont-info-page{
    background-color: #fff;
    padding: 25px;
}

/************************************************************/
.md-primary-data .hd{
    h2{
        text-align: center;
        font-size: 15px;
        letter-spacing: 4px;
    }
}

.md-big-num{
    text-align: center;
    padding: 40px 0 60px 0;
    h3{
        font-size: 58px;
        margin-bottom: 10px;
        font-family: 'proxima_nova_ltthin';
    }
    p{
        font-size: 17px;
    }
    .fas{
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 5px;
        position: relative;
        top: 2px;
        &.fas-follow{
            background: url("/web/statics/images/ic-followers.png") no-repeat center center;
        }
        &.fas-post{
            background: url("/web/statics/images/ic-post.png") no-repeat center center;
        }
        &.fas-likes{
            background: url("/web/statics/images/ic-heart.png") no-repeat center center;
        }
    }
}

/***************************************************************/
/* TAB MENU                                                    */
/***************************************************************/
.tab-menu{
    ul{
        text-align: center;
        border-bottom: 1px solid #DCDCDC;
        li{
            display: inline-block;
            a{
                display: block;
                padding: 15px 25px;
                color: #1D1628;
                font-size: 15px;
                &.active{
                    font-weight: bold;
                }
                &:hover,
                &.active{
                    background-color: #F5F7F9;
                    text-decoration: none;
                }
            }
        }
    }
}

.tab-content{
    margin-top: 40px;
}

/***************************************************************/
/* POST ITEMS                                                  */
/***************************************************************/
.post-items{
    .best-post{
        text-align: center;
        margin-bottom: 15px;
        h3{
            margin-bottom: 10px;
            font-size: 16px;
            font-family: "proxima_nova_ltsemibold";
        }
        p{
            font-size: 12px;
            color: #ccc;
        }
        a{

        }
    }
    .img{
        width: 100%;
        margin-bottom: 15px;
        max-height: 204px;
        border-radius: 10px;
        overflow: hidden;
        img{

            display:block;
            width: 100%;
        }
    }
    .data{
        margin-bottom: 20px;
        border-bottom: 1px solid #DCDCDC;
        padding-bottom: 20px;
        table{
            width: 100%;
            tr{
                td{
                  font-weight: normal;
                    padding: 5px;
                    font-size: 13px;
                    font-family: "proxima_nova_ltsemibold";
                    width: 50%;
                    & + td{
                        text-align: right;
                        font-family: 'proxima_nova_altbold';
                    }
                }
                &.alt{
                    background-color: #F6F7F9;
                }
            }
        }
    }
    .data-alt{
        table{
            width: 100%;
            tr{
                td{
                    padding: 5px;
                    font-size: 13px;
                    font-family: "proxima_nova_ltsemibold";
                    width: 20%;
                    & + td{
                        width: 80%;
                        text-align: right;
                        font-family: 'proxima_nova_altbold';
                    }
                }
                &.alt{
                    background-color: #F6F7F9;
                }
            }
        }
    }
    .of-ugc{
      margin-top: 20px;
      border-top: 1px solid #DCDCDC;
      padding-top: 20px;
      .influencer{
        display:block;
        margin-bottom: 10px;
      }
      h3{
        display:block;
        margin-bottom: 10px;
        a{
          color:#4C4B50;
          font-size: 13px;
          font-family: "proxima_nova_ltsemibold";
          display: block;
          border: 1px solid #DCDCDC;
          padding: 10px 20px;
          text-align: center;
        }
      }
      table{
          width: 100%;
          tr{
              td{
                  padding: 5px;
                  font-size: 13px;
                  font-family: "proxima_nova_ltsemibold";
                  //width: 20%;
                  & + td{
                      //width: 80%;
                      text-align: right;
                      font-family: 'proxima_nova_altbold';
                  }
              }
              &.alt{
                  background-color: #F6F7F9;
              }
          }
      }
    }
}


/* GRIDS TABLES */
.table-style{
    tr{
        td{
            padding: 5px!important;
            font-size: 13px;
            font-family: "proxima_nova_ltsemibold";
            width: 40%;
            & + td{
                width: 60%;
                font-family: 'proxima_nova_altbold';
            }
        }
        &.alt{
            background-color: #F6F7F9;
        }
    }
}


/***************************************************************/
/* SEC AVG GROUP                                               */
/***************************************************************/
.sec-container-group{
    margin-left: -25px;
    margin-right: -25px;
}

.sec-avg-group,
.sec-user-group,
.sec-most-post{
    padding: 30px;
}

.sec-group{
    display: block;
    margin: 0;
    border: 0;
    float: left;
    height: 300px;
    .title{
        display: block;
        text-align: center;
        font-size:15px;
        font-family:'Proxima Nova', sans-serif;
    }
    .top{
        padding-bottom: 25px;
    }
    .btm{
        padding: 20px 20px 0 20px;
        border-top: 1px solid #D2DEDE;
    }
    .fot{
        padding-top: 15px;
    }
}


.sec-avg-group{
    width: 40%;
    background-color: #E1F0ED;
    .top{
        overflow: hidden;
        .f-left{
            .title{
                text-align: left;
                font-size: 12px;
                line-height: 140%;
                i{
                    margin-left: 5px;

                }
            }
            text-align:left;
            float: left;
            width: 45%;
        }
        .f-right{
            text-align: right;
            float: left;
            width: 55%;
        }
        p{

        }
        h3{

        }
        .min-max{
            margin-top: 10px;
            p{
                font-weight: bold;
                span{
                    display: inline-block;
                    margin: 0 10px;
                }
                .min{

                }
                .max{

                }
                .ico-up{

                }
                .ico-dw{

                }
            }
        }
    }
    .btm{
        padding-top: 0px;
        border-top: 1px solid #D2DEDE;
        overflow: hidden;

        padding-left: 0;
        padding-right: 0;
        .md-block-data{
            text-align: center;
            padding: 40px 0px 20px 0px;
            width: 50%;
            display: block;
            float: left;
            &.cols-2{
                .col-1,
                .col-2{
                    width: 50%;
                }
            }
            &:first-child{
                border-right: 1px solid #D2DEDE;
            }
            h3{
                margin-bottom: 30px;
                font-size: 13px;
            }
            .col-1{
                padding: 0 10px;
                border-right: 1px solid #D2DEDE;
            }
            .col-2{
                padding: 0 10px;
            }
        }
    }
    .fot{

    }
}

.more-info{
  margin: auto;
  text-align: center;
  a{
    display:block;
    color: #1D1628;
  }
  i{
    font-size: 22px;
    position: relative;
    margin-right: 7px;
    top: 3px;
  }
}


.sec-user-group{
    width: 25%;
    background-color: #DDE6ED;
    .md-block-data{
        text-align: center;
        .title{
            margin-bottom: 15px;
            font-size: 12px;
        }
        .col-1.full-col{

        }
        .xxs-font{
            margin-top: 5px;
            line-height: 140%;
        }
        .xs-font.bold{
            margin-bottom: 5px;
        }


    }
}

.sec-most-post{
    width: 35%;
    background-color: #F4F6F8;
    .md-block-data{
        text-align: center;
        p{
            b{
                font-weight: bold;
            }
        }
    }
    .title{
        font-size: 12px;
        margin-bottom: 30px;
    }
    .btm{
        padding-top: 30px;
    }
}


.md-block-data{
    h3{

    }
    p{

    }
    .col{

    }
    .full-col{

    }
    .col-1{
        display:inline-table;
    }
    .col-2{
        display:inline-table;
    }
}

/******************************************/
/* MORE INFO                              */
/******************************************/
.more-info{
    span{
        i{

        }
    }
}

/******************************************/
/* CONTENT ENGAGEMENT                     */
/******************************************/
.md-content-engagement{
      .hd{
          h2{

          }
      }
      .bd{
          table{
              width: 100%;
              tr{
                  &.line{
                      td{
                          border-bottom: 1px solid #eee;
                      }
                      &.last-child{
                          td{
                              border-bottom: 0;
                          }
                      }
                  }
                  th{
                       padding: 0 10px;
                      span{
                          font-size: 11px;
                          color:#ccc;
                      }
                  }
                  td{
                      padding: 0 10px;
                      span{
                          display: block;
                          padding: 16px 0 14px;
                          font-size: 18px;
                          font-weight: bold;
                      }
                  }
              }
          }
          .name{
              font-size: 13px;
              font-weight: normal;
              letter-spacing: 2px;
          }
          .last{
              font-size: 13px;
              font-weight: bold;
              color: #ccc;
          }
          .theader{
              //padding-bottom: 15px;
              th{
                  padding-bottom: 10px;
                  span{

                  }
              }
          }
          .c-and-e-ft-data{
              .col-md-4{
                  border-right: 1px solid #eee;
                  &.last-col{
                      border-right: 0;
                  }
              }
              h3{

              }
          }
          .avg-increase-ugc{
              .left-num{
                  float: left;
                  font-size: 25px;
                  padding: 10px 0;
              }
              .right-col{
                  float: left;
                  margin-left: 10px;
                  width: 60%;
                  padding: 6px 0;
                  span{
                      font-size: 12px;
                  }
              }
          }
          .total-likes{
              .left-num{
                  float: left;
                  font-size: 25px;
                padding: 10px 0;
              }
              .right-col{
                  float: left;
                  margin-left: 10px;
                  width: 60%;
                  padding: 14px 0;
                  span{
                      font-size: 14px;
                  }
              }
          }
      }
}


/* COLOR */
.color{
    display: inline-block!important;
    width: 16px!important;
    height: 16px!important;
    padding: 0!important;
    position: relative;
    top: 3px;
    &.video{
        background-color: #E1F0ED;
    }
    &.portrait{
        background-color: #DDE6ED;
    }
    &.product{
        background-color: #DCCDCD;
    }
    &.extra{
        background-color: #D7C0C9;
    }
    &.closeup{
        background-color: #C4D6E3;
    }
}


/******************************************/
/* USER GENERATED CONTENT                 */
/******************************************/
.c-and-e-ft-data{
    margin-top: 25px;
    h3{
        margin-bottom: 15px;
        font-weight: bold;
        font-size: 14px;
    }
    .bd{
        border: 1px solid #ccc;
        padding: 20px 30px;
        .col-1{
            overflow: hidden;
            span{
                float: left;
                font-size: 45px;
            }
            .right-col{
                float: left;
                margin-left: 10px;
                width: 60%;
                span{
                    display: block;
                    margin-top: 5px;
                    margin-bottom: 8px;
                    font-size: 14px;
                }
                .progressbar{
                    background-color: #eee;
                    margin: 0;
                    padding: 0;
                    height: 10px;
                    width: 100%;
                    .bar{
                        margin: 0;
                        padding: 0;
                        background-color: #D7C0C9;
                        height: 10px;
                    }
                }
            }
        }
        .col-2{

        }
        .col-3{

        }
    }
}

/******************************************/
/* MD COMPARE BRAND                       */
/******************************************/

.md-best-post{

 }


 /******************************************/
 /* MD ENGAGEMENT DAY CATEGORY             */
 /******************************************/
 .md-engagement-day-category{
     .hd{

     }
     .bd{
         .time-slider{
             text-align: center;
             position: relative;
            top: 20px;
            z-index: 10;
             span{
                 font-size: 13px;
                font-weight: 700;
             }
         }
     }
     .ft{

     }
 }

 .column-chart-component{
     g text{
         font-weight: normal;
     }
 }

 .ico-arrow{
     i{
         display: block;
         width: 13px;
         height: 11px;
     }
     &.ico-up{
         color:#6BBA9B;
         i{
             background: url("/web/statics/images/ic-arrow-up.png") no-repeat center center;
         }
     }
     &.ico-dw{
         color:#D99F9D;
         i{
             background: url("/web/statics/images/ic-arrow-dw.png") no-repeat center center;
         }
     }
     &.ico-nt{
         color:#B0AEBB;
         i{
             background: url("/web/statics/images/ic-arrow-nt.png") no-repeat center center;
         }
     }

 }

/******************************************/
/* MD TAB CONT ENDG                       */
/******************************************/
.md-tab-cont-endg{
    overflow: hidden;
    .body{
        .table-style.first-col{
            margin-top: 41px;
            tr td {
                font-weight: normal;
                padding: 7px 20px 8px!important;
            }
        }
    }
    .item{
        float: left;
        width: 192px;
        &.first{
            width: 160px;
        }
        .item-container-brands{
            float: left;
            width: 800px;
            overflow-x:  scroll;
        }
        .head{
            height: 85px;
            max-height: 85px;
            position: relative;
            text-align: center;
            padding: 0 15px;
            hr{
                margin: 10px 90px;
            }
            h3{
                font-family: 'proxima_nova_ltsemibold';
                line-height: 133%;
                padding: 0 15px; //comparebrands
                font-size: 19px;
                margin-bottom: 5px;
            }
            span{
                font-size: 12px;
                color: #bbb;
            }
            .close-brand{
                background: url(/web/statics/images/ic-remove.png) no-repeat center center #4f4a58;
                width: 16px;
                height: 16px;
                border-radius: 30px;
                position: absolute;
                top: -5px;
                right: 10px;
                background-size: 16px;
            }
            .other-info{
                p{
                    font-size: 13px;
                    font-family: 'proxima_nova_ltsemibold';
                }
            }
        }
        .color{
            margin-right: 10px;
        }
        .grafica{
            height: 135px;
            max-height: 135px;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        &.first{
            .body{

            }
        }
        &.last{
            .body{
                border-right:0px;
            }
        }
        .body{
            border-right: 1px solid #ddd;
            table{
                width: 100%;
                tr{
                    th{
                        padding: 0 10px 10px 10px;
                        font-size: 11px;
                        color: #ccc;
                    }
                    td{
                        padding: 10px 10px !important;
                    }
                }
            }
        }
        .footer{

        }
    }
}
