/******************************************************/
.main-cont{
    border-top: 1px solid #F2F1F3;
    background-color:#F5F7F9;
    padding: 20px;
}

.md-mu{
    padding: 50px 0;
    .hd{
        text-align: center;
        margin-bottom: 20px;
        h2{
            text-align: center;
            font-size: 15px;
            letter-spacing: 4px;
        }
    }
}

/********************************************************/

.md-sidebar-menu{}
.md-sidebar-menu li{
    border-bottom: 1px solid #D6D8DE;
}
.md-sidebar-menu li a{
    display: block;
    padding: 12px 0;
    color:#1D1628;
    font-size: 14px;
}

.md-sidebar-menu li a.active{
    padding-left: 15px;
    font-weight: bold;
}


/************************************************************/
.cont-info-page{
    background-color: #fff;
    padding: 25px;
}

/************************************************************/
.md-primary-data .hd{}
.md-primary-data .hd h2{
    text-align: center;
    font-size: 15px;
    letter-spacing: 4px;
}

.md-big-num{
    text-align: center;
}
.md-big-num h3{
    font-size: 58px;
}
.md-big-num p{
    font-size: 17px;
}


/***************************************************************/
/* TAB MENU                                                    */
/***************************************************************/
.tab-menu{
    ul{
        text-align: center;
        border-bottom: 1px solid #DCDCDC;
        li{
            display: inline-block;
            a{
                display: block;
                padding: 15px 25px;
                color: #1D1628;
                font-size: 15px;
                &.active{
                    font-weight: bold;
                }
                &:hover,
                &.active{
                    background-color: #F5F7F9;
                    text-decoration: none;
                }
            }
        }
    }
}

.tab-content{
    margin-top: 40px;
}


/***************************************************************/
/* POST ITEMS                                                  */
/***************************************************************/


.post-items{
    .img{
        width: 100%;
        margin-bottom: 15px;
        img{
            border-radius: 10px;
            display:block;
            width: 100%;
        }
    }
    .data{
        margin-bottom: 20px;
        border-bottom: 1px solid #DCDCDC;
        padding-bottom: 20px;
        table{
            width: 100%;
            tr{
                td{
                    padding: 5px;
                    font-size: 13px;
                    font-family: "proxima_nova_ltsemibold";
                    width: 50%;
                    & + td{
                        text-align: right;
                        font-family: 'proxima_nova_altbold';
                    }
                }
                &.alt{
                    background-color: #F6F7F9;
                }
            }
        }
    }
    .data-alt{
        table{
            width: 100%;
            tr{
                td{
                    padding: 5px;
                    font-size: 13px;
                    font-family: "proxima_nova_ltsemibold";
                    width: 20%;
                    & + td{
                        width: 80%;
                        text-align: right;
                        font-family: 'proxima_nova_altbold';
                    }
                }
                &.alt{
                    background-color: #F6F7F9;
                }
            }
        }
    }
}
