/******************************************************/
.main-cont{
    border-top: 1px solid #F2F1F3;
    background-color:#F5F7F9;
    padding: 20px;
}

.md-mu{
    padding: 50px 0;
    .hd{
        text-align: center;
        margin-bottom: 20px;
        h2{
            text-align: center;
            font-size: 15px;
            letter-spacing: 4px;
        }
    }
}


/********************************************************/
.md-sidebar-menu{}
.md-sidebar-menu li{
    border-bottom: 1px solid #D6D8DE;
}
.md-sidebar-menu li a{
    display: block;
    padding: 12px 0;
    color:#1D1628;
    font-size: 14px;
}

.md-sidebar-menu li a.active{
    padding-left: 15px;
    font-weight: bold;
}

/************************************************************/
.cont-info-page{
    background-color: #fff;
    padding: 25px;
}

/************************************************************/
.md-primary-data .hd{
    h2{
        text-align: center;
        font-size: 15px;
        letter-spacing: 4px;
    }
}

.md-big-num{
    text-align: center;
    padding: 40px 0 60px 0;
    h3{
        font-size: 58px;
    }
    p{
        font-size: 17px;
    }
}

/***************************************************************/
/* TAB MENU                                                    */
/***************************************************************/
.tab-menu{
    ul{
        text-align: center;
        border-bottom: 1px solid #DCDCDC;
        li{
            display: inline-block;
            a{
                display: block;
                padding: 15px 25px;
                color: #1D1628;
                font-size: 15px;
                &.active{
                    font-weight: bold;
                }
                &:hover,
                &.active{
                    background-color: #F5F7F9;
                    text-decoration: none;
                }
            }
        }
    }
}

.tab-content{
    margin-top: 40px;
}

/***************************************************************/
/* POST ITEMS                                                  */
/***************************************************************/
.post-items{
    .img{
        width: 100%;
        margin-bottom: 15px;
        img{
            border-radius: 10px;
            display:block;
            width: 100%;
        }
    }
    .data{
        margin-bottom: 20px;
        border-bottom: 1px solid #DCDCDC;
        padding-bottom: 20px;
        table{
            width: 100%;
            tr{
                td{
                    padding: 5px;
                    font-size: 13px;
                    font-family: "proxima_nova_ltsemibold";
                    width: 50%;
                    & + td{
                        text-align: right;
                        font-family: 'proxima_nova_altbold';
                    }
                }
                &.alt{
                    background-color: #F6F7F9;
                }
            }
        }
    }
    .data-alt{
        table{
            width: 100%;
            tr{
                td{
                    padding: 5px;
                    font-size: 13px;
                    font-family: "proxima_nova_ltsemibold";
                    width: 20%;
                    & + td{
                        width: 80%;
                        text-align: right;
                        font-family: 'proxima_nova_altbold';
                    }
                }
                &.alt{
                    background-color: #F6F7F9;
                }
            }
        }
    }
}

/***************************************************************/
/* SEC AVG GROUP                                               */
/***************************************************************/
.sec-container-group{
    margin-left: -25px;
    margin-right: -25px;
}

.sec-avg-group,
.sec-user-group,
.sec-most-post{
    padding: 30px;
}

.sec-group{
    display: block;
    margin: 0;
    border: 0;
    float: left;
    min-height: 301px;
    .title{
        display: block;
        text-align: center;
        font-size:15px;
        font-family:'Proxima Nova', sans-serif;
    }
    .btm{
        border-top: 1px solid #D2DEDE;
    }
}


.sec-avg-group{
    width: 40%;
    background-color: #E1F0ED;
    .top{
        p{

        }
        h3{

        }
        .min-max{

        }
    }
    .btm{
        border-top: 1px solid #D2DEDE;
        overflow: hidden;
        .md-block-data{
            text-align: center;
            padding: 40px 0px 20px 0px;
            width: 50%;
            display: block;
            float: left;
            &:first-child{
                border-right: 1px solid #D2DEDE;
            }
            h3{
                margin-bottom: 30px;
            }
            .col-1{
                padding: 0 10px;
                border-right: 1px solid #D2DEDE;
            }
            .col-2{
                padding: 0 10px;
            }
        }
    }
}


.sec-user-group{
    width: 25%;
    background-color: #DDE6ED;
    .md-block-data{
        text-align: center;
    }
}

.sec-most-post{
    width: 35%;
    background-color: #F4F6F8;
    .md-block-data{
        text-align: center;
    }
}


.md-block-data{
    h3{

    }
    p{

    }
    .col{

    }
    .full-col{

    }
    .col-1{
        display:inline-table;
    }
    .col-2{
        display:inline-table;
    }
}

/******************************************/
/* MORE INFO                              */
/******************************************/
.more-info{
    span{
        i{

        }
    }
}
