.modal-dialog {
	width: 820px; 
}

.modal-content-left {
	padding-right: 0;
	img {
		float: left;
		width: 100%;
	}
	.modal-content-left-colors {
		> span {
			display: inline-block;
		    width: 16%;
		    height: 15px;
		    padding: 0;
		    margin: 0;
		    float: left;
		    &.color-black {
		    	background: #060805;
		    }
		    &.color-grey {
		    	background: #2c2b29;
		    }
		    &.color-brown {
		    	background: #764c3c;
		    }
		    &.color-rose {
		    	background: #ebc1a9;
		    }
		    &.color-roselight {
		    	background: #f3dfd6;
		    }
		    &.color-white {
		    	width: 12%;
		    	background: #fefefe;
		    }
		    &.color-sky {
		    	width: 8%;
		    	background: #b9dfe2;
		    }
		}
	}
	
	.modal-content-left-percent-colors {
		background: #f6f7f9;
		padding: 20px;
		width: 100%;
		height: 110px;
		float: left;
		.global-info-percent-colors {
			border-right: 1px solid #d4d5d7;
			width: 28%;
    		text-align: center;
    		display: inline-block;
			.percent-values {
				display: inline-block;
				width: 40%;
			}
			.slash-divider {
				display: inline-block;
			}
			&:last-child {
				border: 0;
				width: 10%;
			}
		}
	}		
}
.modal-content-right {
    min-height: 587px;
    padding: 0;
	background: #fff;
	.btn-default {
	    color: #fff;
	    background-color: #4f4b59;
	    position: absolute;
	    border-color: 0;
	    right: 10px;
	    top: 10px;
	    border-radius: 50%;
	    width: auto;
	    height: auto;
	    padding: 8px;
	    text-align: left;
	    line-height: 7px;
	    cursor: pointer;
	    &:focus {
	    	outline: none;
	    }
	}
	h2 {
		font-family: 'Proxima Nova', sans-serif;
		letter-spacing: 5px;
		font-size: 14px;
		text-transform: uppercase;
		text-align: left;
		padding: 35px;
	}
	.modal-content-right-box-data {
		letter-spacing: 1px;
		.line-grey-bg,
		.line-transparent-bg {
		    padding: 6px 35px;
		    font-size: 12px;
		}
		.line-grey-bg {
			background: #f6f7f9;
		}
		.return-info {
	    	float: right;
	    	font-weight: bold;
	    }
	    .line-divider {
	    	margin: 12px 35px;
		    height: 1px;
		    background: #dcdcdc;
		    display: block;
	    }
	}
}







